@import "tailwindcss";




body {
  margin: 0;
  padding: 0;
 
}

.bg-asset5 {
  background-image: url('/asset5.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
 
}
.bg-asset1 {
  background-image: url('/asset1.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:auto;
  
 
}

